<!DOCTYPE html>
<html>
<head>
     <link rel= "stylesheet" type= "text/css" href= "/static/stylin.css">
    
    <title>Blog-O-RAMA</title>
    {% block head %}
    {% endblock %}
    
</head>
<body>
    {% block content %}
    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
            {% for category, message in messages %}
            <li class="{{category}}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endwith %}
    {% endblock %}
</body>

</html>