{% extends 'base.html' %}
{% block content %}

    <h1>Blog Flog!</h1>
    <form action="/new_blog" method='post'>
        <label>Phresh Blog, Dog!</label>
        <input type="text" name="blog-title" />
        <label>What do you have to say?</label> 
        <input type="textarea" name="body" />
        <!--<textarea cols="50" rows="5" name="blog_title">   </textarea>-->
        <input type="submit" value="Blog It!" />
    </form>

    <!--{#    <input type="hidden" name="blog-id" value='{{ blog.id }}'/>  #}-->

   
{% endblock %}