{% extends 'base.html' %}

{% block content %}
    <h3><a href="/new_blog">Submit a blog</a></h3>
    <h3><a href="/">Home</a></h3>

    <h1>Blog City Baby!</h1>
    <h2>population: you</h2>

    {% if blogs %}
    <h2>Ye Olde Posts!!</h2>
    <p>Read and Cringe!</p>
        <ul>
            {% for blog in blogs %}
            <li><a href="{{ url_for('blog_page', blog_id=blog.id) }}">{{ blog.title }}</a></li>
             {{ blog.body|truncate(20) }}
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
